[defaults]
inventory = inventory
host_key_checking = False
# Default user to connect as
remote_user = ubuntu
# Optional: specify private key file if not using default ssh agent/keys
# private_key_file = ~/.ssh/id_rsa
deprecation_warnings = False
